<html>

<head>
</head>

<body>
    <div id="to-do">
        <h2 style="text-decoration: underline;">To-Do:</h2>
        <ul>
            <li>
                Improve Debug div by using Django functionality - example: Fix fps/dt output
            </li>
            <li>
                Using Django, dynamically resize the canvas size to fill the screen
            </li>
            <li>
                Add buttons/joysticks(?) for mobile element implementation.
            </li>
            <li>
                Dark Mode! (see
                <a href="https://ehrrsn7.github.io/Landing-Page/index.html" target="_blank">
                        https://ehrrsn7.github.io/Landing-Page/index.html
                    </a> )
            </li>
            <li>
                cse 310 module requirement: Add a second page! Implement a main menu screen page.
            </li>
            <li>
                stretch challenge for cse 310 module: add database functionality to this project (I'll build on this module and implement firebase functionality instead)
            </li>
            <li>
                Eventually, upload this entire project to GitHub and host it using GitHub Pages
            </li>
        </ul>
    </div>
</body>

</html>